
body{
    width: 100%;
      /* background: rgba(255, 144, 14, 0.10);   */
    font-family: 'Work Sans', sans-serif;
    font-family: 'Work Sans';
    margin: 0;
    

}
header{
    background: rgba(255, 144, 14, 0.10); 
}

.container{
    width: 1440px;
    margin: auto;
    padding: 0px 20px;
 
}
.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;

}

.nav-menu li a{
    text-decoration: none;
    color:  #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;

}
.nav-menu ul{
    
    display: flex;
    list-style: none;
    gap:34px;
    align-items: center;
}
/* Banner part */
.banner-contains{
    text-align: center;
    
    
}

.banner-title{
     width: 862px; 
    color:  #131313;
    font-size: 64px;
    padding-left: 300px;

}
.banner-description{
     width: 668px;
    height: 52px; 
    color: #727272;
    font-size: 16px;
    padding-left: 400px;
    font-weight: 400px;
}


.banner-photo img{
    width: 100%;
    border-radius: 8px;
    margin-top: 50px;
    padding-bottom: 20px;
    
   
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF900E;
    border-radius: 8px;
    border: 0px;
    padding: 20px 24px;

}

/* Feature Seaction */
.feature-section{
    display: flex;
    padding-top: 50px;
    align-items: center;
    padding-bottom: 100px;
    
    
}

.feature-photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}
.feature-contain{
    justify-items: center;
    padding-left: 100px;


}
.feature-title{
    color: #727272;
    font-size: 45px;
    font-weight: 500px;
    width: 468px;

}
.feature-title .color1{
    color: #131313;
}
.feature-title .color2{
    color:#FF900E;
}
.feature-description{
    color:  #727272;
    font-size: 16px;
    font-weight: 400;
    width: 537px;
    
}

/* experience section */
.experience-section{
    display: flex;
    justify-content: space-between;
    gap:57px;
}

hr{
    width: 5px;
    height: 100px;
    background-color: #FF900E;
    border: 0;
    margin: 0;

}
.line{
    display: flex;
    align-items: center;
   
}
.experience-title{
    width: 468px;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
   

}

.experience-description{
    width: 586px;
    color:  #727272;
    font-size: 16px;
    font-weight: 400;
    
}
.feature{
    width: 586px;
  
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 20px;
    margin:20px;
}
.feature .feature-titel{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    
}
.feature .ferature-description{
    color:  #727272;
    font-size: 16px;
    font-weight: 400;

}



.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 120px;
    right: 50px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}

.ten-years-badge p{
    font-size: 1.5rem;
}


/* Fact section */
.fact-contains{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    
}
.fact-contain{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    margin: 50px 0px;
    text-align: center;
    padding: 60px;
   

   
    

}
.fact-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
   
   
}
.fact-description{
    width: 542px;
    color:  #727272;
    font-size: 16px;
    font-weight: 400;
  
}

.fact-contain .fa-medal,.fa-book,.fa-envelope{
    width: 45.221px;
    height: 45.221px;
    color: #FF900E;
    font-size: 45px;
    font-weight: 600;
    margin: 20px;
    

}
.rating{
    color:  #424242;
    font-size: 45px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;


    
}
.fact-description{
    color:  #727272;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-align: justify;
    padding-left: 30px;
    
}
/* Sponspors section */
.sponspors-title{
text-align: center;
color:  #131313;
font-size: 45px;
font-weight: 700;


}
.sponspors-description{
    position: relative;
text-align: center;
color:  #727272;
font-size: 16px;
font-weight: 400;
 width: 542px;

 padding-left: 450px;

}
.sponspors-companys img{
   padding-left: 20px;
    margin: 50px 40px;
    opacity: 50%;
}
/* team section */
.team-titel{
    text-align: center;
    color:  #131313;
    font-size: 45px;
    font-weight: 700;
    margin: 100px;

}
.team-detais{
    display: flex;
}
.footer{
   
border-radius: 8px;
background-color: #FFF4E7;
}
.footer p{
color:  #424242;
text-align: center;
font-size: 20px;
font-weight: 400;
padding: 40px;


}

.hide{
    display: none;
}



@media only screen and (max-width: 688px){
     .nav-title{
         font-size: 25px;

     }
     .nav-menu ul{
        
        flex-direction:column;
        gap:10px;
        font-weight: 700px;
         

     }
}